
* 
  box-sizing: border-box; 

$bodycolor: #003;
$trackcolor: #002222;

#num1 
	background: $bodycolor


#num2 
	background: $trackcolor


.track 
   display: block
   width: 270px
   height: 400px
   border-radius: 50% 50% 50% 50%/60% 60% 40% 40%


/*kabob

railroad
	build R with CSS
	flip R for perspective
	build train
		engine
		caboose
	train moves around r
		whole circle rotates
		wheels spin perpendicular*/